.footer {
    background-color: #ffc107;
    color: #343a40;
}

.footer a {
    color: #343a40;
}

.footer a:hover {
    color: #007bff;
}

.carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}